@charset "UTF-8";

* {margin:0; padding:0; box-sizing:border-box; font-family:'NanumSquareRound';}
ul,li,ol {list-style:none; margin:0; padding:0;}
a {text-decoration:none; color:black;}
button {cursor: pointer;}

/* 쿠키런체 */
@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 나눔스퀘어라운드체 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
